<div class="vertical_table">
    {% for day in vertical_grid_days %}
    {% if day.lessons %}
    <div class="empty"></div>
    <div class="weekday_name">
        <p>{{ day.name }}</p>
        <p>{{ day.date }}</p>
    </div>
    {% for lesson in day.lessons %}
    <div class="lesson_number">
        <p class="number">{{ lesson.number }}</p>
    </div>
    <div class="lesson">
        <div class="lesson_name_container">
            <a href="{% url 'diary:delete_lesson' lesson.delete_id %}" title="Delete this lesson"
                class="edit_lesson_link">
                <i class="material-icons">
                    clear
                </i>
            </a>
            <p class="lesson_name">{{ lesson.name }}</p>
        </div>
        <p class="lesson_classroom">{{ lesson.classroom }}</p>
        <div class="homeworks">
            {% if lesson.details != 0 %}
            <a href="{% url 'diary:lesson_details' id=lesson.details %}"
                class="lesson_homework">{{ lesson.homework }}</a>
            {% if lesson.homework_is_done %}
                <i class="material-icons check_mark">
                    done
                </i>
            {% else %}
                <a href="{% url 'diary:mark_as_done' id=lesson.details %}" class="edit_lesson_link check_mark"
                    title="Mark as done">
                    <i class="material-icons">
                        done_outline
                    </i>
                </a>
            {% endif %}
            <a href="{% url 'diary:edit_homework' week=lesson.edit_homework.week id=lesson.edit_homework.id %}"
                title="Edit homework" class="edit_lesson_link">
                <i class="material-icons">
                    create
                </i>
            </a>
            {% else %}
            <a href="{% url 'diary:edit_homework' week=lesson.edit_homework.week id=lesson.edit_homework.id %}"
                title="Add homework" class="edit_lesson_link">
                <i class="material-icons">
                    create
                </i>
            </a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endfor %}
</div>