p {
    margin-bottom: 8px;
}

form {
    margin-left: 10px;
}

.content {
    margin-left: 10px;
}

@media screen and (orientation: portrait) {
    .form {
        font-size: 40px;
    }
    .form input{
        margin-top: 10px;
        font-size: 40px;
    }
    .form select {
        font-size: 40px;
        margin-top: 10px;
    }
    .form option {
        font-size:  20px;
    }
}