.main_section {
    display: flex;
    height: 100%;
    font-family: sans-serif;
}


.main_content {
    overflow: auto;
}

.left {
    width: 170px;
}

.diary {
    margin-bottom: 10px;
    margin-left: 10px;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.lesson {
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.lesson_name {
    font-size: 18px;
    align-self: center;
}

.lesson_classroom {
    font-size: 17px;
    align-self: flex-end;
    margin-right: 5px;
}

.weekday_name {
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.table {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px;
    max-height: 90%;
    width: 90%;
}

.number {
    font-size: 30px;
}

.add_lesson_link {
    align-self: center;
}

.edit_lesson_link {
    color: black;
    text-decoration: none;
    margin: 2px;
    font-size: 30px;
}

.homeworks {
    display: flex;
    justify-content: space-between;
}

    @media screen and (orientation: portrait){
        .main_section {
            display: block;
        }
        .left {
            width: 100%;
            height: min-content;
        }
        .sidebar {
            border-right: 0px;
            display: flex;
            align-items: center;
        }
        .main_content {
            overflow: inherit;
        }
        .sidebar_left_link {
            margin-left: auto;
        }
        .sidebar a {
            height: min-content;
            padding: 10px;
        }
        .sidebar a:hover {
            padding: 8px;
            border: 2px solid black;
        }
}