.sidebar {
    border-right: 5px solid black;
    height: 100%;
}

.site_name {
    font-size: 40px;
    text-align: center;
    font-weight: 800;
    margin-bottom: 10px;
    padding-top: 10px;
}

.username {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
}

.link {
    text-align: center;
    display: block;
    font-size: 20px;
    text-decoration: none;
    color: inherit;
    padding: 10px 0;
}

.link:hover {
    background: #ededed;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 8px 0;
    transition: 100ms;
}

@media screen and (orientation: portrait) {
    .sidebar_left_link {
        margin-left: auto;
    }
    .sidebar a {
        height: min-content;
        padding: 10px;
    }
    .sidebar a:hover {
        padding: 8px;
        height: min-content;
        width: max-content;
        border: 2px solid black;
    }
    .sidebar {
        border-right: 0px;
        display: flex;
        align-items: center;
    }
    .site_name {
        font-size: 65px;
    }
    .link {
        font-size: 45px;
    }
    .username {
        font-size: 30px;
    }
}