.main_section {
    display: flex;
    height: 100%;
    font-family: sans-serif;
}

.left {
    width: 170px;
}

.details {
    flex: 1;
    margin-left: 10px;
}

.parameter {
    font-size: 30px;
    font-weight: 600;
}

.argument {
    font-size: 20px;
    font-weight: 400;
    margin-left: 100px;
    margin-bottom: 10px;
    width: 50%;
}

@media screen and (orientation: portrait) {
    .main_section {
        display: block;
    }
    .left {
        width: 100%;
        height: min-content;
    }
    .parameter {
        font-size: 50px;
    }
    .argument {
        font-size: 50px;
        margin-left: 150px;
    }
}
