.main_section {
    display: flex;
    height: 100%;
}

.main_sidebar {
    width: 170px;
}

.main_content {
    margin-left: 10px;
    margin-top: 10px;
    flex: 1;
}

.main_text {
    font-size: 20px;
    text-transform: uppercase;
}


@media screen and (orientation: portrait){
    .main_section {
        display: block;
    }
    
    .main_sidebar {
        width: 100%;
        height: min-content;
    }

    .main_text {
        font-size: 40px;
    }
}