<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  {% load static %}
  
  <link rel="stylesheet" type="text/css" href="{% static 'global.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'desktop/diary.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'desktop/left.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'includes/navbar.css' %}">
  <link rel="stylesheet" media="all" href="{% static 'desktop/diary.css' %}">


  <title>EL_D</title>

  <style type="text/css">
    .grid_table {
        grid-template-rows: repeat({{number_of_lessons}}, 1fr);
        grid-template-columns: 30px repeat({{number_of_days}}, 5fr);
    }
</style>

</head>

<section class="main_section">
  <div class="left">
    {% include "desktop/left.html" %}
  </div>
  <div class="diary">
    <div class="navbar">
      <div class="left_navbar">
        <a href="{% url 'diary:diary' week=previous_week_number %}" class="navbar_link" title="Previous week">
          <i class="material-icons">
            arrow_back
          </i>
        </a>
        <a href="{% url 'diary:diary' week=0 %}" class="navbar_link" title="Current week">
          <i class="material-icons">
            home
          </i>
        </a>
        <a href="{% url 'diary:diary' week=next_week_number %}" class="navbar_link" title="Next week">
          <i class="material-icons">
            arrow_forward
          </i>
        </a>
      </div>
      <div class="right_navbar">
        <a href="{% url 'diary:add_lesson' week=week %}" class="navbar_link" title="Add new lesson">
          <i class="material-icons">
            add
          </i>
        </a>
        <p class="page_name">Diary</p>
      </div>
    </div>

    <main class="main_content">
      {% include 'diary_tables/grid_table.html' %}
      {% include 'diary_tables/vertical_table.html' %}
    </main>

  </div>
</section>