<head>
    {% load static %}
    
    <link rel="stylesheet" type="text/css" href="{% static 'global.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/desktop/left.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'desktop/main_page.css' %}">

    <title>EL_D</title>
    <style>
        
    </style>
</head>

<section class="main_section">
    <div class="main_sidebar">
        {% include 'desktop/left.html' %}
    </div>
    <div class="main_content">
        <p class="main_text">Electronic diary</p>
    </div>
    <div>
    </div>
    <p>{{ name }}</p>
    {% endwith %}
</section>